# Ignore Python and OS bytecode files
*.pyc
*.pyo
__pycache__/
*.DS_Store
desktop.ini
autorun.ini

# Ignore Docker-related files
Dockerfile
docker-compose.yml
docker-compose.dev.yml

# Ignore git-related files
.git/
.gitignore
.gitattributes

# Ignore app directories
logs/
media/
staticfiles/
backups/
xpose/
.VSCodeCounter/

# Ignore celery-related files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Ignore nginX image files
nginx.conf
dockernginx

# Ignore Sensetive Secrets
.env