# Ignore Python and OS bytecode files
**/__pycache__/
*.pyc
*.pyo
**/.DS_Store
.VSCodeCounter
desktop.ini
autorun.ini

# Ignore app directories
logs
media
staticfiles
xpose
backups

# Ignore Docker-related files
# .dockerignore

# Ignore management log Files
logs.txt

# Ignore celery-related files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Ignore Sensetive Secrets
.env